
.iconClass {
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        background-color: $primary-color;
        // background-color: $secondary-color;
        transform: scale(0);
        transform-origin: left;
        transition: transform 0.3s ease;
    }

    &:hover::after {
        transform: scale(1);
    }

    span {
        // color: $primary-color;
        color: $secondary-color;
        font-size: 20px;
        font-weight: 600;
    }
}

.routerLink{
    font-family: "poppins", sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: normal;
}

.activeLink {
    &::after {
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        background-color: $primary-color;
        transition: transform 0.3s ease;
    }

    &:hover::after {
        transform: none;
    }

    span {
        color: $secondary-color;
        font-size: 20px;
        font-weight: 600;
    }
}